body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f8f9fa;
}
.container {
    max-width: 600px;
    margin-top: 2rem;
}
/* Clase para mensajes de error */
.message-error {
    color: red;
    border-color: red;
}

/* Clase para mensajes de advertencia */
.message-warning {
    color: orange;
    border-color: orange;
}

/* Clase para mensajes de información */
.message-info {
    color: blue;
    border-color: blue;
}

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
  }

  .password-input {
    width: 100%;
    padding-right: 2.5rem; /* espacio para el ícono */
    box-sizing: border-box;
  }

  .toggle-password {
    position: absolute;
    top: 50%;
    right: 0.75rem;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d;
    margin-top: 18px;
    display: none; /* oculto al inicio */
  }