bcrypt==4.0.0
passlib==1.7.4
fastapi==0.90.0
psycopg2-binary==2.9.3
pydantic==1.9.1
SQLAlchemy==2.0.4
h11==0.13.0       # Asegúrate de tener la versión más reciente
uvicorn==0.20.0   # O la versión más reciente